.home{
     background-image: url(../images/การศึกษา\ ภาพพื้นหลัง\ พาหะพื้นหลังและไฟล์\ PSD\ สำหรับดาวน์โหลดฟรี\ _\ Pngtree.jfif);
     background-repeat: no-repeat center fixed;
     background-size: cover;
}